<h4><%= button_to "CLICK HERE TO START SIMPLESTOCKS", "/user", method: :get %></h4>

<h1> Portfolio </h1>

<div class="createaccount">
	<h3>Create Account</h3>
	<%= form_tag "/portfolio", method: :post do %>
		<div>
		Account Name: <input type="text" name="account_name">
	<br>
		Password: <input type="password" name="password">
	<br>
		Password Confirmation: <input type="password" name="password_confirmation">
	<br>
		<input type="submit" name="Create Account" %>
		</div>
	<% end %>
</div>
